.about_me {
    @include grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.right-side {
    display: flex;
    justify-content: center;
}

.left-side__name {
    margin: 0 0 20px 140px;
    font-size: 36px;
}

.left-side__text {
    margin: 0 0 20px 140px;
    font-size: 24px;
}

@media only screen and (max-width: 1080px) {
    .right-side__img {
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .about_me {
        padding-top: 80px;
    }
    .left-side__name {
        font-size: 32px;
        margin: 0 0 20px 105px;
    }
    .left-side__text {
        font-size: 20px;
        margin: 0 0 20px 105px;
    }
}

@media only screen and (max-width: 768px) {
    .about_me {
        padding-top: 100px;
    }
    .left-side__name, .left-side__text {
        margin: 0 0 20px 50px;
    }
}

@media only screen and (max-width: 650px) {
    .about_me {
        padding-top: 100px;
    }
    .left-side__name {
        font-size: 26px;
    }
    .left-side__text {
        font-size: 18px;
    }
    .left-side__name, .left-side__text {
        margin: 0 0 20px 30px;
    }
}

@media only screen and (max-width: 530px) {
    .about_me {
        background-image: url(../img/mepng.png);
        background-size: 85%;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
        min-height: 480px;
        grid-template-columns: 1fr;
    }
    .left-side {
        background-color: rgba(255,255,255,0.3);
    }
    .right-side {
        display: none;
    }
}