.footer {
    @include grid;
    grid-template-columns: 1fr 1fr;
    height: 130px;
    background: $black;
}

.social-wrapper,
.phone-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 130px;
    align-items: center;
    color: $white;
}

.social-wrapper__caption {
    text-align: end;
    font-size: 24px;
}

.social-wrapper__ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.phone-wrapper__caption {
    text-align: center;
    font-size: 24px;
}

.phone-wrapper__number {
    font-size: 24px;
    color: $red;
    text-decoration: none;
}

.social-wrapper__img {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .social-wrapper__caption, .phone-wrapper__caption {
        font-size: 20px
    }
}


@media only screen and (max-width: 768px) {
    .footer {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .social {
        margin: 20px 0 10px;
    }
    .phone {
        margin: 10px 0 20px;
    }
    .social-wrapper, .phone-wrapper {
        grid-template-columns: 0.75fr 1fr;
        height: auto;
    }
    .social-wrapper__caption, .phone-wrapper__caption,.phone-wrapper__number {
        text-align: center;
    }

}

@media only screen and (max-width: 530px) {
    .social-wrapper__caption, .phone-wrapper__caption {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .social-wrapper, .phone-wrapper {
        grid-template-rows: 0.75fr 1fr;
        grid-template-columns: 1fr;
        height: auto;
    }
}