* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/*** Colors ***/

$white : #F2F2F2;
$darkWhite : #BFBFBF; 
$red : #EC5E5E;
$black : #262626;

@mixin flex () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin justify-content () {
    justify-content: space-evenly;
    -webkit-justify-content: space-around;
    -moz-justify-content:space-evenly;
}

@mixin grid {
    display: grid;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
